.main {
    background-color: white;
    margin: 30px;
}
body{
    background-color: #efefef;
}

.publish_btn {
    margin-bottom: 15px;
    float: right;
}

.media-object {
    width: 38px;
    height: 38px;
}

.blog-info {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
