<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publish - Bill's Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <!--    <link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
    <!--    <script src="js/bootstrap.min.js" type="application/javascript"></script>-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Community</span>
                <!--                <span class="icon-bar"></span>-->
                <!--                <span class="icon-bar"></span>-->
                <!--                <span class="icon-bar"></span>-->
            </button>
            <a class="navbar-brand" href="/">Bill's Community</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Message</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Exit</a></li>

                    </ul>
                </li>
                <li th:if="${session.user == null}"><a
                        href="https://github.com/login/oauth/authorize?client_id=9eb711628fbfd9410bc9&redirect_uri=http://localhost:8887/callback&scope=user&state=1">Log
                    in</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->


</nav>
<div class="container-fluid main" style="margin: 30px">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Publish</h2>
            <hr>

            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title..." th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">Tags</label>
                    <input type="text" class="form-control" id="tag" name="tag"
                           placeholder="Input tags, divided by comma" th:value="${tag}">
                </div>

<!--                <span class="alert alert-danger" th:text="${error}"></span>-->
                <div class="container-fluid alert">
                    <div class="row" th:if="${error}!=null">
                        <div class="alert alert-danger col-lg-8 col-md-12 col-sm-12 col-xs-12" th:text="${error}"></div>
                    </div>
                    <button type="submit" class="btn btn-success publish_btn">Publish</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>Instructions on publishing questions</h3>
            Title: Please summarize the problem in 25 words <br>
            Description: Please provide details about the question <br>
            Tags: Attribute the question to 1 or more tags, divided by comma(,)
        </div>
    </div>
</div>
</body>
</html>